onnx==1.16.1
onnxruntime==1.15.1
numpy==1.26.3
librosa
torch==2.2.1
tqdm
transformers==4.34.0
optimum==1.14.0
spdlog
pybind11[global]
LangSegment
cn2an
pypinyin
jieba_fast
pyopenjtalk
wordsegment
g2p_en
einops
matplotlib
h5py
ffmpeg-python
pytorch-lightning
ipykernel
pygame
cchardet
PyQt5
ebooklib
beautifulsoup4